﻿@color-white                    :#FFFFFF;
@color-light-blue               :#3498DB;
@color-alternative-light-blue   :#2E8ECD;
@color-blue                     :#2980B9;
@color-dark-blue                :#2473A6;
@color-light-grey               :#ECF0F1;
@color-grey                     :#BDC3C7;
@color-dark-grey                :#7F8C8D;
@color-light-red                :#E74C3C;
@color-red                      :#D94031;
@color-dark-red                 :#C0392B;
@color-orange                   :#E67e22;
@color-black                    :#34495E;
@color-dark-black               :#243240;