﻿@font-face {
  font-family: 'gb_icon';
  src: url('/Styles/Fonts/gb_icons.eot?pzzty8');
  src: url('/Styles/Fonts/gb_icons.eot?pzzty8#iefix') format('embedded-opentype'), url('fonts/gb_icons.ttf?pzzty8') format('truetype'), url('fonts/gb_icons.woff?pzzty8') format('woff'), url('fonts/gb_icons.svg?pzzty8#gb_font') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon::before {
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale;
}
.icon::before {
  font-family: gb_icon;
}
.icon.icon--padlock::before {
  content: "\e965";
}
.icon.icon--profile-male::before {
  content: "\e977";
}
.icon.icon--calendar::before {
  content: "\e99d";
}
/*# sourceMappingURL=icons.css.map */