﻿.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.text-right {
  text-align: right;
}
.bold {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
.BFC,
.bfc {
  overflow: auto;
}
.center {
  text-align: center;
}
.clickable {
  cursor: pointer;
}
.border-box {
  box-sizing: border-box;
}
.hide {
  display: none;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #34495e;
  overflow-y: scroll;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 960px;
}
body > .header {
  color: #ffffff;
  background: #2980b9;
  height: 80px;
  width: 960px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
body > .header > .logo {
  margin: 0 20px 0 20px;
}
.sub-header {
  background: #ecf0f1;
  border-right: 1px solid #bdc3c7;
  border-bottom: 1px solid #bdc3c7;
  border-left: 1px solid #bdc3c7;
  border-radius: 0 0 2px 2px;
  height: 40px;
  width: 960px;
  position: relative;
  font-size: 16px;
}
.info-bar {
  float: right;
  margin: 0 20px 0 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #7f8c8d;
}
.info-bar::before {
  font-size: 24px;
  color: #7f8c8d;
}
.info-bar-name {
  margin-left: 10px;
}
body > .main {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 960px;
  margin: 30px 0 30px 0;
}
body > .main > .spacer {
  height: 30px;
}
body > .footer {
  width: 960px;
  padding: 8px 20px 10px 20px;
  background: #ecf0f1;
  color: #7f8c8d;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #bdc3c7;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul > li {
  margin: 0;
  padding: 0;
}
ul > li {
  margin: 0;
  padding: 0;
}
#sub_to_top_arrow {
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #ecf0f1;
  content: "";
  position: absolute;
  right: 26px;
  top: -10px;
}
.menu {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu > .item,
.menu > .legend {
  position: relative;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
.menu > .legend + .item::before,
.menu > .item + .item::before,
body > .header > .menu > .item::before {
  content: " ";
  border-left: solid 1px #2473a6;
  background: #2e8ecd;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.menu > .legend {
  cursor: default;
  margin: 0 10px 0 10px;
  width: 24px;
}
.menu > .legend > .icon::before {
  font-size: 24px;
}
.menu > .item.active,
.menu > .item.active:hover,
.menu > .item:active {
  background: #e67e22;
}
.menu > .item:hover {
  background: #3498db;
}
.menu > .item > * + span {
  padding-top: 5px;
}
body > .header > .menu {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
body > .header > .menu > .item {
  width: 82px;
  font-size: 10px;
  background: #c0392b;
}
body > .header > .menu > .item:hover {
  background: #e74c3c;
}
body > .header > .menu > .item::before {
  background: #d94031;
}
.flag-small-dk {
  background: url(/Images/dk.png) no-repeat;
  height: 11px;
  width: 16px;
  margin-right: 5px;
}
.copyright {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
body > .footer > .spacer {
  margin: 0 12px 0 12px;
}
body > .footer > .spacer-small {
  margin: 0 8px 0 8px;
}
.blue-bar {
  background: #2980b9;
  color: #ffffff;
  height: 40px;
  font-size: 14px;
  border-radius: 2px 2px 2px 2px;
}
.blue-bar > .menu > .item {
  padding: 0 10px 0 10px;
}
.list {
  border-top: 1px solid #bdc3c7;
  border-bottom: 1px solid #bdc3c7;
}
.list > .header {
  border-right: 1px solid #bdc3c7;
  border-left: 1px solid #bdc3c7;
  background: #ecf0f1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  line-height: 20px;
  padding: 10px 10px 10px 10px;
  color: #34495e;
}
.list > .columns {
  border-right: 1px solid #243240;
  border-left: 1px solid #243240;
  background: #34495e;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  text-transform: capitalize;
}
.list > .columns > .column {
  padding: 5px 10px 5px 10px;
}
.list > .columns > .column + .column {
  border-left: 1px solid #243240;
}
.list > .items {
  border-right: 1px solid #bdc3c7;
  border-left: 1px solid #bdc3c7;
  min-height: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #34495e;
  background: #ffffff;
  position: relative;
}
.list > .footer {
  border-right: 1px solid #bdc3c7;
  border-left: 1px solid #bdc3c7;
}
.list > .items::before {
  content: 'No results';
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  height: 30px;
  line-height: 30px;
  width: 100%;
}
.list > .items > .item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  line-height: 20px;
  background: #ffffff;
  position: relative;
}
.list > .items > .item > .column {
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 10px 5px 10px;
}
.list > .items > .item > .column + .column {
  border-left: 1px solid transparent;
}
.list > .items > .item:nth-child(even) {
  background: #ecf0f1;
}
.list > .items > .item > .column:last-child {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/*# sourceMappingURL=layout.css.map */