﻿@import "colors.less";
@import "mixins.less";
@import "utility.less";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: @color-black;
    overflow-y: scroll;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

body > .header {
    color: @color-white;
    background: @color-blue;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

body > .header > .logo {
    margin: 0 20px 0 20px;
}

.sub-header {
    background: @color-light-grey;
    border-right: 1px solid @color-grey;
    border-bottom: 1px solid @color-grey;
    border-left: 1px solid @color-grey;
    .rounded();
    height: 40px;
    width: 100%;
    position: relative;
    font-size: 16px;
}

.info-bar {
    float: right;
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    color:@color-dark-grey;
}

.info-bar::before {
    font-size: 24px/1;
    color:@color-dark-grey;
}

.info-bar-name {
    margin-left: 10px;
}

body > .main {
    flex: 1;
    width: 100%;
    margin: 30px 0 30px 0;
}

body > .main > .spacer {
    height: 30px;
}

body > .footer {
    width: 100%;
    padding: 8px 20px 10px 20px;
    background: @color-light-grey;
    color: @color-dark-grey;
    .rounded(2px 2px 2px 2px);
    border: 1px solid @color-grey;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    .clean-ul();
}

#sub_to_top_arrow {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid @color-light-grey;
    content: "";
    position: absolute;
    right: 26px;
    top: -10px;
}

.menu {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu > .item, .menu > .legend {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    .clickable();
}

.menu > .legend + .item::before, .menu > .item + .item::before, body > .header > .menu > .item::before {
    content: " ";
    border-left: solid 1px @color-dark-blue;
    background: @color-alternative-light-blue;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.menu > .legend {
    cursor: default;
    margin: 0 10px 0 10px;
    width: 24px;
}

.menu > .legend > .icon::before {
    font-size: 24px;
}

.menu > .item.active, .menu > .item.active:hover, .menu > .item:active {
    background: @color-orange;
}

.menu > .item:hover {
    background: @color-light-blue;
}

.menu > .item > * + span {
    padding-top: 5px;
}

body > .header > .menu {
    flex: 1;
    justify-content: flex-end;
}

body > .header > .menu > .item {
    width: 82px;
    font-size: 10px;
    background: @color-dark-red;
}

body > .header > .menu > .item:hover {
    background: @color-light-red;
}

body > .header > .menu > .item::before {
    background: @color-red;
}

.flag-small-dk {
    background: url(/Images/dk.png) no-repeat;
    height: 11px;
    width: 16px;
    margin-right: 5px;
}

.copyright {
    flex: 1;
}

body > .footer > .spacer {
    margin: 0 12px 0 12px;
}

body > .footer > .spacer-small {
    margin: 0 8px 0 8px;
}

.blue-bar {
    background: @color-blue;
    color: @color-white;
    height: 40px;
    font-size: 14px;
    .rounded(2px 2px 2px 2px);
}

.blue-bar > .menu > .item {
    padding: 0 10px 0 10px;
}


.list {
    border-top: 1px solid @color-grey;
    border-bottom: 1px solid @color-grey;
}

.list > .header {
    border-right: 1px solid @color-grey;
    border-left: 1px solid @color-grey;
    background: @color-light-grey;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 20px;
    padding: 10px 10px 10px 10px;
    color: @color-black;
}

.list > .columns {
    border-right: 1px solid @color-dark-black;
    border-left: 1px solid @color-dark-black;
    background: @color-black;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    color: @color-white;
    font-weight: bold;
    font-size: 12px;
    text-transform: capitalize;
}

.list > .columns > .column {
    padding: 5px 10px 5px 10px;
}

.list > .columns > .column + .column {
    border-left: 1px solid @color-dark-black;
}

.list > .items {
    border-right: 1px solid @color-grey;
    border-left: 1px solid @color-grey;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: @color-black;
    background: @color-white;
    position: relative;
}

.list > .footer {
    border-right: 1px solid @color-grey;
    border-left: 1px solid @color-grey;
}

.list > .items::before {
    content: 'No results';
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    height: 30px;
    line-height: 30px;
    width: 100%;
}

.list > .items > .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    line-height: 20px;
    background: @color-white;
    position: relative;
}

.list > .items > .item > .column {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 10px 5px 10px;
}

.list > .items > .item > .column + .column {
    border-left: 1px solid transparent;
}

.list > .items > .item:nth-child(even) {
    background: @color-light-grey;
}

.list > .items > .item > .column:last-child {
    flex-grow: 1;
}
