.clearfix() {
    zoom:1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}


.clean-ul() {
    list-style: none;
    margin: 0;
    padding: 0;
    & > li {
        
        margin: 0;
        padding: 0;
    }
}

.rounded(@radius: 0 0 2px 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.user-select(@argument: none) {
  -webkit-user-select: @argument;
  -moz-user-select: @argument;
  -ms-user-select: @argument;
  user-select: @argument;
  -webkit-user-drag: @argument;
}

.clickable() {
    cursor: pointer;
}