﻿/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: 'gb_icon';
  src: url('/Styles/Fonts/gb_icons.eot?pzzty8');
  src: url('/Styles/Fonts/gb_icons.eot?pzzty8#iefix') format('embedded-opentype'), url('fonts/gb_icons.ttf?pzzty8') format('truetype'), url('fonts/gb_icons.woff?pzzty8') format('woff'), url('fonts/gb_icons.svg?pzzty8#gb_font') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon::before {
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale;
}
.icon::before {
  font-family: gb_icon;
}
.icon.icon--padlock::before {
  content: "\e965";
}
.icon.icon--profile-male::before {
  content: "\e977";
}
.icon.icon--calendar::before {
  content: "\e99d";
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.text-right {
  text-align: right;
}
.bold {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
.BFC,
.bfc {
  overflow: auto;
}
.center {
  text-align: center;
}
.clickable {
  cursor: pointer;
}
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hide {
  display: none;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #34495E;
  overflow-y: scroll;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
body > .header {
  color: #FFFFFF;
  background: #2980B9;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body > .header > .logo {
  margin: 0 20px 0 20px;
}
.sub-header {
  background: #ECF0F1;
  border-right: 1px solid #BDC3C7;
  border-bottom: 1px solid #BDC3C7;
  border-left: 1px solid #BDC3C7;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  height: 40px;
  width: 100%;
  position: relative;
  font-size: 16px;
}
.info-bar {
  float: right;
  margin: 0 20px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  color: #7F8C8D;
}
.info-bar::before {
  font-size: 24px;
  color: #7F8C8D;
}
.info-bar-name {
  margin-left: 10px;
}
body > .main {
  flex: 1;
  width: 100%;
  margin: 30px 0 30px 0;
}
body > .main > .spacer {
  height: 30px;
}
body > .footer {
  width: 100%;
  padding: 8px 20px 10px 20px;
  background: #ECF0F1;
  color: #7F8C8D;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #BDC3C7;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul > li {
  margin: 0;
  padding: 0;
}
ul > li {
  margin: 0;
  padding: 0;
}
#sub_to_top_arrow {
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #ECF0F1;
  content: "";
  position: absolute;
  right: 26px;
  top: -10px;
}
.menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu > .item,
.menu > .legend {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
.menu > .legend + .item::before,
.menu > .item + .item::before,
body > .header > .menu > .item::before {
  content: " ";
  border-left: solid 1px #2473A6;
  background: #2E8ECD;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.menu > .legend {
  cursor: default;
  margin: 0 10px 0 10px;
  width: 24px;
}
.menu > .legend > .icon::before {
  font-size: 24px;
}
.menu > .item.active,
.menu > .item.active:hover,
.menu > .item:active {
  background: #E67e22;
}
.menu > .item:hover {
  background: #3498DB;
}
.menu > .item > * + span {
  padding-top: 5px;
}
body > .header > .menu {
  flex: 1;
  justify-content: flex-end;
}
body > .header > .menu > .item {
  width: 82px;
  font-size: 10px;
  background: #C0392B;
}
body > .header > .menu > .item:hover {
  background: #E74C3C;
}
body > .header > .menu > .item::before {
  background: #D94031;
}
.flag-small-dk {
  background: url(/Images/dk.png) no-repeat;
  height: 11px;
  width: 16px;
  margin-right: 5px;
}
.copyright {
  flex: 1;
}
body > .footer > .spacer {
  margin: 0 12px 0 12px;
}
body > .footer > .spacer-small {
  margin: 0 8px 0 8px;
}
.blue-bar {
  background: #2980B9;
  color: #FFFFFF;
  height: 40px;
  font-size: 14px;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
}
.blue-bar > .menu > .item {
  padding: 0 10px 0 10px;
}
.list {
  border-top: 1px solid #BDC3C7;
  border-bottom: 1px solid #BDC3C7;
}
.list > .header {
  border-right: 1px solid #BDC3C7;
  border-left: 1px solid #BDC3C7;
  background: #ECF0F1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  line-height: 20px;
  padding: 10px 10px 10px 10px;
  color: #34495E;
}
.list > .columns {
  border-right: 1px solid #243240;
  border-left: 1px solid #243240;
  background: #34495E;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 12px;
  text-transform: capitalize;
}
.list > .columns > .column {
  padding: 5px 10px 5px 10px;
}
.list > .columns > .column + .column {
  border-left: 1px solid #243240;
}
.list > .items {
  border-right: 1px solid #BDC3C7;
  border-left: 1px solid #BDC3C7;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #34495E;
  background: #FFFFFF;
  position: relative;
}
.list > .footer {
  border-right: 1px solid #BDC3C7;
  border-left: 1px solid #BDC3C7;
}
.list > .items::before {
  content: 'No results';
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  height: 30px;
  line-height: 30px;
  width: 100%;
}
.list > .items > .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  line-height: 20px;
  background: #FFFFFF;
  position: relative;
}
.list > .items > .item > .column {
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 10px 5px 10px;
}
.list > .items > .item > .column + .column {
  border-left: 1px solid transparent;
}
.list > .items > .item:nth-child(even) {
  background: #ECF0F1;
}
.list > .items > .item > .column:last-child {
  flex-grow: 1;
}