﻿@import "Mixins.less";

.clearfix {
    .clearfix();
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.text-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}


.BFC, .bfc {
    overflow: auto;
}

.center {
    text-align: center;
}

.clickable {
    .clickable();
}

.border-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.hide {
    display: none;
}
