﻿.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.text-right {
  text-align: right;
}
.bold {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
.BFC,
.bfc {
  overflow: auto;
}
.center {
  text-align: center;
}
.clickable {
  cursor: pointer;
}
.border-box {
  box-sizing: border-box;
}
.hide {
  display: none;
}
/*# sourceMappingURL=utility.css.map */